*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	background: white; /* Beccapurple */
	margin: 0;
/*
   -moz-box-shadow:    inset 0 0 20px darkkhaki;
   -webkit-box-shadow: inset 0 0 20px darkkhaki;
   box-shadow:         inset 0 0 20px darkkhaki;
*/

}

body {
    font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
	font-size: 100%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
    margin-top: 0
    margin-left: 0
	background: white;

}

header {
    margin: 0px;
    text-align: center;
}

.applicubeHeader {
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: #074073;
/*        border-style: solid;*/
/*    border-color: #F23E16;*/
/*    border-width: 2px;*/
        top: 0;
      position: fixed;
        z-index: 20;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.applicubeFooter {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #F2994B;
    color: #074073;
            bottom: 0;
      position: fixed;
/*        border-style: solid;*/
/*    border-color: #F23E16;*/
/*    border-width: 2px;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.applicubeFooter span {
    margin-left: 20px;
    margin-right: 20px;
}

.applicubeHeader p {
    font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    margin-left: 20px;
    line-height: 50px;
    text-align: left;
}

.applicubeHeader img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

hr.section {
    border-top: 1px solid gray;
    opacity: 20%;
}

.mainContainer {
    z-index: 0;
}

.headerSpacer {
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: white;
}

.footerSpacer {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: white;
}


appSection {
    text-align: center;
}

.sectionPhoto {
    width: 60%;
    height: auto;
    margin: 20px;
/*
  max-height: 360;
  width: auto;
*/
}

.applicubeWhite {
    color: white;
}

.applicubeRed {
    color: #F23E16;
}


#headerTabs {
    width: 100%;
    top: 0;
      position: fixed;
    height: 40px;
    background-color: beige;
    z-index: 20;
}

.content {
    text-align: center;
      padding-top: 45px;
}

.subHeader {
    margin: 0px;
    text-align: center;
}

/*
.sticky {
  top: 40;
  width: 100%;
}
*/


.coverPhoto {
    width: 100%;
    background-color: beige;
    padding: 0 0 40px 0;
}

h1 {
    font-family: Futura, -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
    width: 80%;
    margin: 0px auto;
    font-size: 4em;
    text-align: center;
    font-weight: 900;
    padding: 10px;
    color: beige;
    opacity: 80%;
}
.header1 {
        background-color: darkkhaki;
}
h2 {
    font-family: Futura, -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
    width: 80%;
    margin: 0px auto;
    font-size: 1.4em;
    text-align: center;
    font-weight: 900;
    padding: 10px;
    color: darkkhaki;
    text-transform: uppercase;
}
.header2 {
    background-color: beige;
}
.videoRef {
    width: 80%;
    display: none;
    margin: 0 auto;
}

section {
    text-align: center;
    margin: 0px 20px;
}
/*
footer {
    height: 31px;
    margin-bottom: 0px;
    text-align: right;
*/
}
hr {
    border-top: 1px dotted gray;
    opacity: 70%;
}

/* WELCOME
-----------------------*/
#cover {
    width: 60%;
	margin: 0px auto;
    max-width: 900px;
   -moz-box-shadow:     3px 3px 6px 5px gray;
   -webkit-box-shadow:  3px 3px 6px 5px gray;
   box-shadow:          3px 3px 6px 5px gray;

}
.flexContainer {
    width: 70%;
    margin: 0px auto;
    display: flex;
/*    flex-wrap: wrap;*/

}
.videoContainer {
    width: 30%;
    text-align: right;
    background-color: beige;
    background: linear-gradient(180deg, rgba(245,245,220,1) 0%, rgba(189,183,107,1) 100%);
}

.sticky {
    padding-top: 45px;
}


.tabsTable {
    width: 100%;
    top: 0;
    position: sticky;

}
.tabsFlexHeader {
    width: 100%;
    display: flex;
    height: 40px;
}
.singleTabHeader {
    width: 50%;
    text-align: center;
}
.ARTabHeader {
    width: 50%;
    text-align: center;

}
.tabsFlexHeader  p {
    font-family: Futura, -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
    line-height: 40px;
    margin: 0 0px;
/*    border-radius: 8px;*/
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);      
    overflow: hidden;
    color: black;
}
.selectedVideo > p {
    background-color: #225f86;
    opacity: 40%;
    color: white;
}
.unSelectedVideo > p {
    color: #225f86;
}
.selectedApp > p {
    background-color: #225f86;
    opacity: 40%;
    color: white;
}
.unSelectedApp > p {
    color: #225f86;
}

.detailsContainer {
    width: 70%;
    padding: 0 20px 0 0;
}
.memobrixAR {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);       
}
.selectedVideoPlayer {
    width: 100%;
    display: table;
}
.unSelectedVideoPlayer {
    width: 0;
    display: none;
}
.selectedAppContainer {
    width: 100%;
    display: table;
}
.unSelectedAppContainer {
    width: 0;
    display: none;
}
.innerFlexLeftImage {
    margin: 30px 0px 30px 0px;
    display: flex;
}
.leftImageContainer {
    width: 30%;
    max-width: 160px;
    border-radius: 16px;
}
.rightDetailsContainer {
    width: 70%;
    margin: 0px 0px 0px 20px;
    vertical-align: middle;
}

.flexImage {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.3s;
}
.flexImage:hover {
    opacity: 70%;
}
.rightShadow {
   -moz-box-shadow:     3px 3px 6px gray;
   -webkit-box-shadow:  3px 3px 6px gray;
   box-shadow:          3px 3px 6px gray;
}
.leftShadow {
   -moz-box-shadow:     -3px 3px 6px gray;
   -webkit-box-shadow:  -3px 3px 6px gray;
   box-shadow:          -3px 3px 6px gray;
}
.detailParagraph {
    font-family: Futura, -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
    text-align: left;
    padding: 4px 4px;
    font-weight: 100;
    font-size: 1.4em;
    opacity: 60%;
    margin: 0;
    height: 100%;
}
.detailParagraphLeft {
    color: black;

}
.detailParagraphRight {
/*    color: #225f86;*/
    color: black;

}
.footerTable {
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    overflow: hidden;
    background-color: darkkhaki;
    padding: 20px 50px 20px 50px;
}
.contact {
    font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
    font-weight: 300;
    color: darkslategray;
    line-height: 1.4em;
    font-size: 1.3em;
    width: 50%;
    opacity: 90%;
    text-align: left;
}
.goDaddy {
    width: 50%;
    margin: 0;
    text-align: right;
}
/* THE MODAL (background) 
______________________________________*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(245,245,220); /* Fallback color */
  background-color: rgba(245,245,220,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: darkslategray;
    background-color: darkkhaki;
  padding: 10px 0;
  height: 80px;
  font-size: 3em;
    text-transform: uppercase;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: darkslategray;
  font-size: 4em;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 992px) {
    h1 {
        font-size: 3.5em;
        opacity: 100%;
    }
    h2 {
        font-size: 2em;
        opacity: 100%;
    }
    .videoRef {
        width: 80%;
        display: block;
        margin: 10px auto;
        font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
        text-align: center;
    /*    padding: 4px 4px;*/
        font-weight: 300;
        font-size: 1.1em;
        opacity: 60%;
        color: darkkhaki;
    }
    section {
    margin: 0px;
    }
    .flexContainer {
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;

    }
    .videoContainer {
        width: 100%;
    }
.sticky {
    padding-top: 0px;
}

    .detailsContainer {
        width: 100%;
        padding: 0 70px;
    }
    .leftImageContainer {
        width: 30%;
        max-width: 160px;
        border-radius: 16px;
    }
    .rightDetailsContainer {
        width: 75%;
        margin: 0px 0px 0px 20px;
    }
    .detailParagraph {
        font-family: Futura, -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
        text-align: left;
        padding: 4px 4px;
        font-weight: 100;
        font-size: 3em;
        opacity: 50%;
        margin: 0;
        height: 100%;
    }
    .innerFlexLeftImage {
    margin: 30px 0px 30px 0px;
    display: flex;
    }
    .tabsFlexHeader {
        width: 100%;
        display: flex;
        height: 60px;
    }
    .tabsFlexHeader  p {
        font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif;
        line-height: 60px;
        margin: 0 0px;
    /*    border-radius: 8px;*/
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);      
        overflow: hidden;
        opacity: 100%;
        color: black;
        font-weight: 400;
        font-size: 2em;
    }
    .selectedVideo > p {
        background-color: darkkhaki;
        opacity: 80%;
        color: beige;
    }
    .unSelectedVideo > p {
        color: darkkhaki;
    }
    .selectedApp > p {
        background-color: darkkhaki;
        opacity: 80%;
        color: beige;
    }
    .unSelectedApp > p {
        color: darkkhaki;
    }
    .memobrixAR {
        width: 100%;
        margin: 10px auto;
        max-width: 500px;
        text-align: center;
        box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);    
        border-radius: 44px;
    }
    
    .modal-content {
        width: 100%;
    }

}
